<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="{{ photocover }}"
      alt=""
      height="200px"
      srcset=""
    >
  </div>


  <div class="big-card__title">
    <h1><a href="#">{{ cardtitle }}</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        {{ carddescription }}
      </a>
    </p>
  </div>
</div>

</body>
</html>


